div.turf_list{
    display : none;
    background : white;
}

.voter_group_button_fake {
    background-color: white; /* Green */
    border: 2px solid #0074d9;
    color: black;
    padding : 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius : 4px;
}
